.BackGround{
		-fx-background-image: url("./Images/Home.jpg");
}
.Button{
	-fx-background-color: #ccc;
}
.Button:hover{
	-fx-background-color: #ddd;
	-fx-border-color: #aaa #aaa #aaa  #aaa;
}
.Column{
	-fx-alignment: center;
}